@charset "utf-8";
/* CSS Document */

h1 {
  color: blue;
  font-family: "Comfortaa", sans-serif;
}

body {
  background-image: url('OrangeBlueBKG.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  font-family: "Comfortaa", sans-serif;
}